header {
    border-bottom: 1px solid black;
    z-index: 3;
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

